.rounded{
    border-radius: 50px !important;
}
.icon-brand{
    font-size: 100px;
}
@media only screen and (min-width: 992px){
.scroll{
    width: 100%;
    max-height: 40%;
    overflow-x: hidden;
    overflow-y: auto;
}
.about-sizing{
    height: 650px;
}
}

.about-img:hover {
    transform: scale(1.1);
    }
