.tech-monkey-logo{
    height: 60px !important;
    width: 60px !important;
}
.nav-logo-text{
    font-size: 2rem;
}
.nav-item{
    font-size: 20px ;
}
/* .nav-link:hover, .nav-logo-text:hover{
    color: #3df2f2 !important;
} */
a {
    position: relative;
    color: #3df2f2;
    text-decoration: none;
}
  
.nav-logo-text:hover, .nav-link:hover {
    color: #3df2f2 !important;
}
  
.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3df2f2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.nav-link:hover::before {
    transform: scaleX(1);
}
  
  

  
