.name{
    font-size: 70px;
}
.monkey-img:hover {
    transform: scale(1.1);
}
.last-name{
  color: #3df2f2;
}
.main-text {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both ,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 550px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}